<div class="login">
    <div class="card card-menu">
        <div class="card-body">
            <div class="icons">
                <i class="fa fa-train"></i>
                <p>Trains</p>
            </div>
            <div class="icons">
                <i class="fa fa-plane"></i>
                <p>Flights</p>
            </div>
            <div class="icons">
                <i class="fa fa-hotel"></i>
                <p>Hotels</p>
            </div>
            <div class="icons">
                <i class="fa fa-bus"></i>
                <p>Buses</p>
            </div>
            <div class="icons">
                <i class="fa fa-home"></i>
                <p>Home Stay</p>
            </div>
            <div class="icons">
                <span class="material-symbols-outlined">
                    beach_access
                    </span>
                <p>Holidays</p>
            </div>
            <div class="icons">
                <span class="material-symbols-outlined">
                    loyalty
                </span>
                <p>Loyalty</p>
            </div>
            <div class="icons">
                <span class="material-symbols-outlined">
                    restaurant_menu
                    </span>
                <p>Meals</p>
            </div>
        </div>
    </div>
    <div class="card card-content">
        <div class="card-body">
            <div class="status">
                    <div class="status-menu">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                        <label class="form-check-label" for="inlineCheckbox1">BOOK TRAIN TICKETS</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">CHECK PNR STATUS</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">LIVE TRAIN STATUS</label>
                      </div>
                    </div>
                    <div class="title">
                        <span><b>IRCTC Train Ticket Booking</b></span><br>
                        <span style="font-size: smaller;color:#ccc">IRCTC Authorized e-ticketing</span>
                    </div>
            </div>
          <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <label>
                        <span>FROM</span>
                        <input type="text" placeholder="New Delhi">
                        <p>NDLS, New Delhi Railway Station</p>
                    </label>
                </div>
                <div class="col-md-4">
                    <label>
                        <span>TO</span>
                        <input type="text" placeholder="Kanpur">
                        <p>CNB, Kanpur Central</p>
                    </label>
                </div>
                <div class="col-md-2">
                    <label>
                        <span>TRAVEL DATE</span>
                        <input type="text" placeholder="16 NOV'22">
                        <p>WEDNESDAY</p>
                    </label>
                </div>
                <div class="col-md-2">
                    <label>
                        <span>CLASS</span>
                        <input type="text" placeholder="ALL">
                        <p>ALL CLASS</p>
                    </label>
                </div>
            </div>
          </div>
        </div>
        <button class="search">Search</button>
    </div>
</div>
<section>
    <h1>Have you not found the right one?
        Find a service suitable for you here.</h1>
</section>