<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Alerts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Updates</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">General Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Quick Links</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Railway Updates</a>
    </li>
</ul>
